@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Parkinsans", sans-serif;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.about-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.Leader-container {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 40vh;
}

.member-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40vh;
    padding-top: 30px ;
}

@media (max-width: 1000px) {
  .about-container {
    flex-direction: column;
    width: 100%;
  }
}

.Leader-container img{
    width: 15%;
    border-radius: 50%;
    border: 5px solid #263238;
}

.member-container img{
    width: 40%;
    border-radius: 50%;
    border: 5px solid #263238;
}

.member-container .about-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  height: 100%;
}

.Leader-container .about-content  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    text-align: left;
  }
  

@media (max-width: 1000px) {
  .about-content {
    width: 100%;
  }
}

.about-content h2 {
  text-align: start;
  margin: 0;
  color:#666;
}

.about-content h1 {
    text-align: start;
    margin: 0;
  }

.about-content p {
  font-size: 16px;
  text-align: start;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #666;
}
