@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 1000vh;
  flex-direction: column;
}
.member-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
 
.member{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 12px;  
  padding: 20px;
  width: 30% ;
  list-style: none;
}
.member-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}