@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Parkinsans", sans-serif;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.ChangePassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

@media (max-width: 1000px) {
  .ChangePassword-container {
    flex-direction: column;
    width: 100%;
  }
}

.ChangePassword-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 45%;
  background-color: #fff;
  padding: 20px;
  height: 100%;
  text-align: left;
}

@media (max-width: 1000px) {
  .ChangePassword-content {
    width: 100%;
  }
}

.ChangePassword-content h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
}

.ChangePassword-content p {
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #666;
}

.ChangePassword-content .ChangePassword-form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

@media (max-width: 1000px) {
  .ChangePassword-content .ChangePassword-form {
    width: 80%;
  }
}

.ChangePassword-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ChangePassword-form-group label {
  margin-bottom: 5px;
}

.ChangePassword-form-group input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.ChangePassword-form-group input:focus {
  outline: none;
  background-color: #f2f2f2;
}

.ChangePassword-form-group input::placeholder {
  color: #aeaeae;
}

input[type="checkbox"] {
  margin-right: 5px;
  accent-color: #263238;
}

.ChangePassword-content .ChangePassword-button {
  padding: 15px 25px;
  background-color: #263238;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ChangePassword-content .ChangePassword-button:hover {
  background-color: #1d1d1d;
}

.ChangePassword-content .ChangePassword-button:active {
  background-color: #000;
}