@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");

.hero-container{
    display: flex;
    height: 100vh;
    font-family: "Parkinsans";
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
    height: 100%;
}

h1,p {
    position: relative;
    left: 5%;
    text-align: left;
}

p {
    bottom: 1%;
}

.go-to-button {
    display: flex;
    position: relative;
    left: 5%;
}

.hero-button {
    display: inline-block;
    width: max-content;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #263238;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #000;
}

.hero-image {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #fff;

}

@media (max-width: 1000px){
    .hero-container{
        flex-direction: column;
        align-items: center;
    }

    .hero-content {
        align-items: center;
        width: 90% ;
    }

    h1,p {
        position: relative;
        left: 0 ;
        text-align: center;
    }

    .go-to-button{
        left: 0;
    }

    .hero-image img{
        display: none;
        width: 0%;
    }

    .hero-image {
        width: 0 ;
        height: 0;
        display: none; 
    }
}