@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Parkinsans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  background-color: #263238;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
  width: 97.5%;
}

.nav-logo img {
  width: 50px;
}

.navbar-links {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 5px;
  text-transform: uppercase;
  font-weight: lighter;
}

.navbar-link a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  transition: color 0.1s ease;
  cursor: pointer;
}

.navbar-link a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbar-link a:hover::before {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.icons-container {
  display: flex;
  gap: 20px;
  margin: 0;
}

.icons-container a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  transition: color 0.1s ease;
  cursor: pointer;
  font-weight: lighter;
}

.btns-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-weight: lighter;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  font-size: 16px;
  display: inline-block;
  transition: color 0.3s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.btn:hover::before {
  width: 100%;
  left: 0;
  transform: translateX(0);
}

.navbar-menu {
list-style: none;
display: none;
gap: 15px;
margin: 0;
padding: 0;
}

.navbar-menu a:hover {
background-color: #555;
}

.toggle-btn, .close-btn {
  display: none;
  font-size: 1.5em;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.toggle-btn.open {display: none;}

.close-btn.open {display: block;}

.navbar-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #263238;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-menu.open {
  display: flex;
}

.toggle-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.toggle-list a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  position: relative;
  display: inline-block;
  transition: color 0.1s ease;
  cursor: pointer;
}

@media (max-width: 850px) {
  .navbar-links {
    display: none;
  }

  .toggle-btn {
    display: block;
  }

}