@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Parkinsans", sans-serif;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}
.message.success {
  color: rgb(14, 168, 14);
}
.message.error {
  color: rgb(192, 13, 13);
}

@media (max-width: 1000px) {
  .signup-container {
    flex-direction: column;
    width: 100%;
  }
}

.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 45%;
  background-color: #fff;
  padding: 20px;
  height: 100%;
  text-align: left;
}

@media (max-width: 1000px) {
  .signup-content {
    width: 100%;
  }
}

.signup-image {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.signup-image img {
  height: 100%;
  width: 110%;
}

@media (max-width: 1000px) {
  .signup-image {
    width: 80%;
  }
}

.signup-content h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
}

.signup-content p {
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #666;
}

.signup-content .signup-form {
  display: flex;
  flex-direction: column;
  width: 55%;
}

@media (max-width: 1000px) {
  .signup-content .signup-form {
    width: 80%;
  }
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.signup-form-group label {
  margin-bottom: 5px;
}

.signup-form-group input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.signup-form-group input:focus {
  outline: none;
  background-color: #f2f2f2;
}

.signup-form-group input::placeholder {
  color: #aeaeae;
}

input[type="checkbox"] {
  margin-right: 5px;
  accent-color: #263238;
}

.signup-content .signup-button {
  padding: 15px 25px;
  background-color: #263238;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-content .signup-button:hover {
  background-color: #1d1d1d;
}

.signup-content .signup-button:active {
  background-color: #000;
}

.signup-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-checkbox a {
  text-decoration: none;
  color: #263238;
  font-weight: bold;
}

.signup-checkbox label {
  font-size: 14px;
  color: #666;
}
