@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");


body {
    margin: 0;
    padding: 0;
    font-family: "Parkinsans", sans-serif;
  }
  
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .user-profile h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .user-profile form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .user-profile form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-profile label {
    flex: 0 0 100px; 
    font-size: 18px;
    color: #555;
    margin-right: 10px;
  }
  
  .user-profile input {
    flex: 1;
    padding: 10px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
    box-sizing: border-box;
    outline: none;
  }
  
  .user-profile input:focus {
    border-color: #007bff;
  }
  
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-profile button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-profile button[type="submit"] {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
  }
  
  .user-profile button[type="submit"]:hover {
    background-color: #218838;
  }
  
  .user-profile button[type="button"] {
    background-color: #263238;
    color: #fff;
    margin-right: 10px;
  }
  
  .user-profile button[type="button"]:hover {
    background-color: #000;
  }
  
  .user-profile button[type="button"]:last-of-type {
    background-color: #dc3545;
  }
  
  .user-profile button[type="button"]:last-of-type:hover {
    background-color: #c82333;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .user-profile form {
      padding: 20px;
    }
  
    .user-profile h2 {
      font-size: 1.8rem;
    }
  
    .user-profile button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .user-profile form div {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .user-profile label {
      margin-bottom: 5px;
      flex: unset;
    }
  }
  
  @media (max-width: 480px) {
    .user-profile h2 {
      font-size: 1.5rem;
    }
  
    .user-profile input {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    .user-profile button {
      font-size: 0.9rem;
      padding: 8px;
    }
  }
  